doctype html 
html 
    head 
        title Game Editing - Imagine Dungeons 
        link(rel="stylesheet" href="/css/edit_game_style.css")
        link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
        script(src="https://kit.fontawesome.com/534e6fef90.js" crossorigin="anonymous")
        script(type="importmap").
            {
                "imports": {
                    "three": "https://cdn.skypack.dev/three@0.139.2/build/three.module",
                        "three/": "https://cdn.skypack.dev/three@0.139.2/",      
                        "dat.gui": "https://cdn.skypack.dev/dat.gui"
                }
            }
    body 
        nav
            button#save SAVE GAME
        .edit_game(id_game=game._id)
            .left
                .settings.box
                    .header SETTINGS
                    .content
                        label(for="game_name") Game name  
                        br
                        input(type="text" id="game_name" name="game_name" value=game.name)
                        br
                        label Map size  
                        .size
                            label(for="size_x") x
                            input(type="number" id="size_x" name="size_x" min="1" value=game.size_x)
                            label(for="size_z") z
                            input(type="number" id="size_z" name="size_z" min="1" value=game.size_z)
                .properties.box
                    .header ASSET PROPERTIES
                    .content 
                        .selected(hidden)
                            .container_selected_img
                                img#selected_img
                            label(for="asset_name") Object name  
                            br
                            input(type="text" id="asset_name" name="asset_name" readonly)
                        .properties_life(hidden)
                            label(for="life") Life
                            br
                            input(type="number" id="life" name="life" min="1")
                        .properties_strength(hidden)
                            label(for="strength") Strength
                            br
                            input(type="number" id="strength" name="strength" min="1")

            .middle
                .canva.box
                    .header LAYOUT
                    .canva_container
                        canvas#editCanvas
                .project.box
                    .header PROJECT
                    .added_assets
                        .project_player
                        .project_solid

            .right
                .assets.box
                    .header ASSETS

                    div.collapsible
                        i.fa-solid.fa-dungeon
                        | &nbsp;&nbsp;
                        span Modular
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content
                        each a in assets
                                if a.type == "modular"
                                    .asset_card(model=a.name)
                                        img(src="/images/models/"+a.name+".png", alt=a.name)
                                        span=a.name
                                        
                    div.collapsible
                        i.fa-solid.fa-person 
                        | &nbsp;&nbsp;
                        span Players
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content
                        each a in assets
                            if a.type == "player"
                                .asset_card(model=a.name)
                                    img(src="/images/models/"+a.name+".png", alt=a.name)
                                    span=a.name

                    div.collapsible
                        i.fa-solid.fa-ghost 
                        | &nbsp;&nbsp;
                        span Monsters
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content
                        each a in assets
                            if a.type == "monster"
                                .asset_card(model=a.name)
                                    img(src="/images/models/"+a.name+".png", alt=a.name)
                                    span=a.name

                    div.collapsible
                        i.fa-solid.fa-lightbulb
                        | &nbsp;&nbsp;
                        span Light
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content
                        each a in assets
                                if a.type == "light"
                                    .asset_card(model=a.name)
                                        img(src="/images/models/"+a.name+".png", alt=a.name)
                                        span=a.name

                    div.collapsible
                        i.fa-solid.fa-coins
                        | &nbsp;&nbsp;
                        span Objects
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content
                        each a in assets
                                if a.type == "object"
                                    .asset_card(model=a.name)
                                        img(src="/images/models/"+a.name+".png", alt=a.name)
                                        span=a.name

                    div.collapsible
                        i.fa-solid.fa-shield
                        | &nbsp;&nbsp;
                        span Weapons
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content
                        each a in assets
                                if a.type == "weapon"
                                    .asset_card(model=a.name)
                                        img(src="/images/models/"+a.name+".png", alt=a.name)
                                        span=a.name
                        
    script(type="module" src="/edit_client.js")
    script. 
        // collapsible
        var coll = document.getElementsByClassName("collapsible");

        for (var i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var icon = this.getElementsByClassName("icon_collapse")[0];
                var content = this.nextSibling;
                if (content.style.display === "block") {
                    icon.classList.remove("fa-minus");
                    icon.classList.add("fa-plus");
                    content.style.display = "none";
                } else {
                    icon.classList.remove("fa-plus");
                    icon.classList.add("fa-minus");
                    content.style.display = "block";
                }
            });
        }