doctype html 
html 
    head 
        title Game Playing - Imagine Dungeons 
        link(rel="stylesheet" href="/static/css/play_game_style.css")
        link(rel="stylesheet" href="/static/css/style.css")
        link(rel="icon" type="image/x-icon" href="/static/images/favicon.ico")
        script(src="https://kit.fontawesome.com/534e6fef90.js" crossorigin="anonymous")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.0/css/all.css")

        script(type="importmap").
            {
                "imports": {
                    "three": "https://cdn.skypack.dev/three@0.139.2/node_modules/three/build/three.module",
                    "three/": "https://cdn.skypack.dev/three@0.139.2/",      
                    "dat.gui": "https://cdn.skypack.dev/dat.gui"
                }
            }
    body 
        #loading
            .loading-animation 
            p Loading
        include includes/nav
        .play_game(id_game=game._id size_x=game.size_x size_z=game.size_z near=game.near far=game.far)
            #modal_container 
                .modal 
                    .modal_title
                        | Train an Agent to Play this Game 
                        br
                        i.fas.fa-times#close
                    .modal_content 
                        label(for="agent_name") Choose an Agent
                        br
                        select(name="agent_name" id="agent_name")
                            option(value="create") Create a new agent
                            if agents
                                each agent in agents 
                                    option(value=agent._id)=agent.name
                        button#choose Choose Option

            .train_agent_container 
                .agent_button_container 
                    button#train_agent Train Agent
                .go_back_container
                    .go_back_content
                        a(href="/games/edit/"+game._id) 
                            i.fas.fa-chevron-left
                            | &nbsp; Go Back to Editing
            .game_container
                .game.box
                    .header GAME
                    .canvas_container
                        #game_over_container(hidden)
                            .main_text
                                | You &nbsp;
                                span#over
                            i.fas.fa-redo 
                            .small_text Click to reset
                        canvas#playCanvas 
                .metrics.box
                    .header METRICS 
                    .metrics_container 
                        .metric 
                            i.metric_icon.fad.fa-heartbeat
                            div
                                .metric_title Life
                                .metric_value#life 1222

                        .metric 
                            i.metric_icon.fad.fa-star
                            div
                                .metric_title XP
                                .metric_value#xp

                        .metric 
                            i.metric_icon.fad.fa-medal
                            div
                                .metric_title Level
                                .metric_value#level

                        .metric 
                            i.metric_icon.fad.fa-sword
                            div
                                .metric_title Attack
                                .metric_value#attack

                        .metric 
                            i.metric_icon.fad.fa-shield
                            div
                                .metric_title Defense
                                .metric_value#defense

                        .metric 
                            i.metric_icon.fad.fa-clock
                            div
                                .metric_title Time
                                .metric_value#time
                        
                        

    script. 
        window.assets = !{JSON.stringify(assets)}
        window.game = !{JSON.stringify(game)}

    script(src="/static/bundles/play_client_bundle.js")

    script.
        document.getElementById("game_over_container").style.visibility = "hidden";
        document.getElementById("modal_container").style.visibility = "hidden";
        
        let loaded = false;
        let ready = false;

        window.addEventListener("load", function() {
            loaded = true;
            checkLoading();
        });

        window.experience.on('ready', function() {
            ready = true;
            checkLoading();
        });

        window.experience.on('game_over', function() {
            document.getElementById("game_over_container").style.visibility = "visible";
        });

        function checkLoading() {
            if (loaded && ready) {
                const loading = document.querySelector("#loading");
                loading.style.display = "none";
                // startIntro() // when page loads start intro, maybe anoying
            }
        }

        document.getElementById("train_agent").addEventListener("click", function() {
            document.getElementById("modal_container").style.visibility = "visible";
        });

        document.getElementById("close").addEventListener("click", function() {
            document.getElementById("modal_container").style.visibility = "hidden";
        });

        document.getElementById("game_over_container").addEventListener("click", function() {
            window.experience.reset();
            document.getElementById("game_over_container").style.visibility = "hidden";
        });

        document.getElementById("choose").addEventListener("click", function() {
            var choice = document.getElementById("agent_name").value;
            if (choice == "create"){
                window.location = '/agents/create/'+game._id;
            } else {
                window.location = '/agents/'+choice+'/'+game._id;
            }
        });
    